.button {
    padding: 16px 32px;
    background-color: rgb(84, 84, 215);
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.button--disabled {
    background-color: grey;
}